.page-wrapper {
    margin: 15px;
}
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
  
.input, .count {
    height: auto;
    text-align: center;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
}